body{
    padding-top: 70px;
}

*{
    font-family: 'Droid Serif', serif;
}

.foto-perfil{
    width: 200px;
}


.txt-carrusel{
    font-size: 200%;
}

.boton{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.carrusel{
    padding: 5%;
}

img{
    width: 100%;
}

.campo{
    font-weight: bold;
}

.boton_usuario{
    float: right;
} 


.navbar{
    background-color: #3174ae;
}
.navbar-brand {
  color: aliceblue;
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: aliceblue;
}
navbar-text {
  color: #2b3a3e;
}
.navbar-nav > li > a {
  color: aliceblue;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: #16334d;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: aliceblue;
  background-color: #23537d;
}
.navbar-nav > .open > a,
.navbar-nav > .open > a:hover,
.navbar-nav > .open > a:focus {
  color: #51c5a6;
  background-color: #3c7adf;
}
.navbar-toggle {
  border-color: #23537d;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #23537d;
}
.navbar-toggle .icon-bar {
  background-color: #2b3a3e;
}
.navbar-collapse,
.navbar-form {
  border-color: #2b3a3e;
}
.navbar-link {
  color: #2b3a3e;
}
.navbar-link:hover {
  color: #51c5a6;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a {
    color: #2b3a3e;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #51c5a6;
  }
  .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #51c5a6;
    background-color: #3c7adf;
  }
}